#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.circle-element {
  height: 100px;
  width: 100px;
  background-color:  #EC9D9D;
  border: 2px solid white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



.newcard {
  color: black;
  margin: auto;
  font-size: small;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: baseline;
  border-right: 1px solid grey;
}

.brd {
  border-right: 1px solid grey;
}

.cst-title{
  display: flex;
  justify-content: center !important;
}

.cst-label {
  display: flex;
  justify-content: baseline !important;
}